<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>Haroldo OK! - <%= title %></title>
		<meta name="description" content="Programming, games and technology in general." />
		<link href="/css/pure-base-min.css" rel="stylesheet" />
		<link href="/css/style.css" rel="stylesheet" />
		<!--
		<link href="/volcano.css?v2" rel="stylesheet" />
		<link href="/print.css" rel="stylesheet" media="print" />
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml" />
		-->
		<link href="/favicon.ico" rel="icon" type="image/x-icon" />
	</head>
	<body itemscope itemtype="http://schema.org/WebPage">
		<div id="container">
		
			<div id="header">
				<a href="/">
					<h1 itemprop="name">Haroldo OK!</h1>
					<h2 class="tagline" itemprop="description">Programming, Games and Technology</h2>
				</a>
			</div>
			
			<div id="sidebar">
				<div class="aside clearfix">
					<h4>About the Author</h4>
					<img class="headshot" src="http://www.gravatar.com/avatar/c6c18851c01fa33057f636caea371047?r=pg&amp;s=200.jpg&amp;d=identicon">
					<dl>
						<dt>Name:</dt><dd>Haroldo de Oliveira Pinheiro</dd>
						<dt>Github:</dt><dd><a href="http://github.com/haroldo-ok">haroldo-ok</a></dd>
						<dt>Twitter:</dt><dd><a href="https://twitter.com/Haroldo0k">Haroldo0k</a></dd>
						<dt>Location:</dt><dd>Belo Horizonte, Minas Gerais, Brazil</dd>
					</dl>
				</div>
				<div class="aside addthis">
					<!-- AddThis Smart Layers BEGIN -->
					<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f76590308735393"></script>
					<script type="text/javascript">
					  addthis.layers({
						'theme' : 'transparent',
						'share' : {
						  'position' : 'left',
						  'numPreferredServices' : 5
						},   
						'recommended' : {
						  'title': 'Recommended for you:'
						} 
					  });
					</script>
					<!-- AddThis Smart Layers END -->
				</div>
			</div>

			<div id="content">
				<%= yield %>
			</div>
			
		</div>
	</body>
</html>