<div class="thumbnails">
<% articles.each do |article| %>
	<a class="thumbnail" href="<%= article.name %>/" itemscope itemtype="http://schema.org/SoftwareApplication">
		<% if !article.images.empty? %>
			<img src="<%= article.name + '/' + article.random_image %>" itemprop="image" />
		<% end %>
		
		<h1 itemprop="name"><%= article.attrs[:title] %></h1>
		<span itemprop="description"><%= (markdown article.intro).gsub(/<a\s/, '<span ').gsub(/<\/a\s*>/, '</span>') %></span>
	</a>
<% end %>
</div>